%{erl_opts, [debug_info]}.

{erl_opts, [debug_info, {i, "include"}]}.


{deps, [{cowboy, "2.13.0"},
        %{cowlib, "2.13.0"},  
        {ranch, "1.8.0"},
        {jsx, "3.1.0"},
        {jsone, "1.7.0"},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.2"}}}]}.

%{relx,
% [{release, {tic_tac_toe, "1.0.0"}, [tic_tac_toe, cowboy]},
%  {sys_config, "./config/sys.config"},
%  {vm_args, "./config/vm.args"},
%  {dev_mode, true},
%  {include_erts, false}]}
%

%{overrides, [
% {override, cowlib, [{erl_opts, [nowarn_unused_type]}]}
%]}.

{overrides, [
  {override, cowboy, [
    {deps, [{cowlib, "2.15.0"}]}
  ]}
]}.


{shell, [
    % Configure the shell to start our app
    {apps, [tic_tac_toe]}
]}.
